*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body{
    font-family: 'Syne', sans-serif;
    background-color: #000000;
}

#page-1{
    width: 100%;
    /* height: 100vh; */
    position: relative;
}

/* #main{
    width: 100%;
} */

#page-1 video{
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

#page-1-content{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-color: #13121200; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    /* z-index: 2; */
}

nav svg{
    width: 7vw;
    color: white;
    mix-blend-mode: difference;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
}

ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

li a{
    text-decoration: none;
    color: white;
    mix-blend-mode: difference;
    font-size: large;
}

#svg-big{
    overflow: hidden;
}

#svg-big svg{
    width: 90%;
    justify-self: center;
    display: flex;
    color: white;
    mix-blend-mode: difference;
}

#cursor{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: #e2761ee8;
    /* mix-blend-mode: difference; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
}

#cursor h5{
    font-size: 1.1vw;
    font-weight: 400;
}


/* ----------------- page- 1 complete ---------------- */


/* ----------------- page- 2 ---------------- */

#page2{
    width: 100%;
    position: relative;
    /* display: flex; */
    padding-bottom: 20%;
}

#page-2-content{
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 4rem 3rem;
    z-index: 3;
    position: relative;
}

#page-2-content h3{
    color: #fff;
    font-size: 4vw;
    font-weight: 100;
    /* opacity: 0.9; */
    font-stretch: 120%;
}
.elem{
    overflow: hidden;
}

#elem-1{
    display: flex;
    justify-self: flex-end;
}

#line-div{
    padding: 1rem 3vw;
}

#line{
    width: 100%;
    background-color: #ffffff;
    height: 1px;
}

#part-2-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
}

#left-part h6{
    color: white;
    font-size: 1.8vw;
    font-weight: 100;
}

#left-part2-wrapper{
    overflow: hidden;
}

#right-part{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 10%;
}

#right-part h6,a{
    color: white;
    font-size: 1.8vw;
    font-weight: 100 !important;
}

.right-part-h6{
    overflow: hidden;
}

/* [data-scroll-container]{
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
} */

/* ---------------part-3---------------- */

#part-3{
    width: 100%;
    margin-bottom: 1rem;
}

#part-3-content{
    position: relative;
}

#coverup{
    min-width: 100%;
    height: 100%;
    background-color: #00000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    /* margin: 1rem 3vw; */
    /* box-sizing: border-box; */
}

#part-3-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}

#part-3-img{
    width: 100%;
    height: 200%;
    padding: 0rem 3vw;
    position: relative;
}

#part-3-cursor video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
}



#part-3-cursor{
    width: 35%;
    height: 80%;
    position: absolute;
    /* transform: scale(0); */
    opacity: 0;
    z-index: 3;
    padding: 4rem 7vw;
    /* transform: translate(-50%, -50%); */
    transition: cubic-bezier(0.165, 0.84, 0.44, 1).4s;
}

@media (max-width:991px){
    #part-3-cursor{
        height: 60%;
    }

    .part-4-cursor-left{
        height: 60% !important;
    }

    .part-4-cursor-right{
        height: 60% !important;
    }
}


@media (max-width:768px){
    #part-3-cursor{
        height: 50%;
    }

    .part-4-cursor-left{
        height: 50% !important;
    }

    .part-4-cursor-right{
        height: 50% !important;
    }

    #part-4{
        display: flex;
        flex-direction: column !important;
    }

    #part-4-img-left{
        padding-right: 3vw !important;
        /* height: 100% !important; */
    }

    #part-4-img-right{
        padding-left: 3vw !important;
        /* height: 100% !important; */
    }
}

/* -------------- part-4 left-------------------  */


.part-4-cursor-left{
    width: 35%;
    height: 80%;
    position: absolute;
    /* transform: scale(0); */
    opacity: 0;
    z-index: 3;
    padding: 4rem 7vw;
    /* transform: translate(-50%, -50%); */
    transition: cubic-bezier(0.165, 0.84, 0.44, 1).4s;
}

#part-4{
    /* width: 100%; */
    display: flex;
    gap: 2rem;
    overflow-x: hidden;
    padding-bottom: 5rem;
}

#part-4-img-left{
    width: 100%;
    height: 200%;
    padding: 1rem 0;
    padding-left: 3vw;
    position: relative;
}

#part-4-left{
    width: 100%;
}

#part-4-img-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}

.part-4-cursor-left video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
}

#part-4-content-left{
    position: relative;
}

#coverup2{
    min-width: 100%;
    height: 98%;
    background-color: #00000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    /* margin: 1rem 3vw; */
    /* box-sizing: border-box; */
}


/* ------------ part-4 right --------------  */

#part-4-img-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}

.part-4-cursor-right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
}

.part-4-cursor-right{
    width: 35%;
    height: 80%;
    position: absolute;
    /* transform: scale(0); */
    opacity: 0;
    z-index: 3;
    padding: 4rem 7vw;
    /* transform: translate(-50%, -50%); */
    transition: cubic-bezier(0.165, 0.84, 0.44, 1).4s;
}

#part-4-img-right{
    width: 100%;
    height: 200%;
    padding: 1rem 0;
    padding-right: 3vw;
    position: relative;
}

#part-4-right{
    width: 100%;
}

#part-4-content-right{
    position: relative;
}

#coverup3{
    min-width: 100%;
    height: 100%;
    background-color: #00000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    /* margin: 1rem 3vw; */
    /* box-sizing: border-box; */
}


/* ---------------- page-5 -------------- */


#page-5{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#page-5-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    grid-template-rows: auto;
    /* gap: 2vw; */
    justify-content: space-evenly;
}

#page-5-wrapper img{
    width: 90px;
    object-fit: cover;
    object-position: center;
}

#p5-img-2{
    width: 200px;
    object-fit: cover;
    object-position: center;

}

.part-5-img{
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:991px){
    .hide-img0{
        display: none !important;
    }
}

@media (max-width:768px){
    .hide-img01{
        display: none !important;
    }
}


/* ------------------ slider code -----------------  */

.owl-theme{
    background-color: #fff;
    /* display: flex;
    gap: 3rem; */
}

.owl-nav{
    font-size: 80px;
    /* padding-left: 500px; */
    position: relative;
}

.owl-prev{
    position: absolute;
    left: -20px;
}

.owl-next{
    position: absolute;
    right: 20px;
}

#main-img-1{
    position: relative;
}

#main-img-2{
    position: relative;
}

#item-1-top h6{
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 100;
}

#item-3-top h6{
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 100;
}

#img-content-item-1{
    position: absolute;
    width: 80%;
    height: 85%;
    top: 10%;
    left: 10%;
    /* background-color: #000000; */
}


#white-div{
    /* background-color: #e28686; */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#item-4-top h6{
    font-size: 1.4rem;
    color: #000000;
    font-weight: 100;
}

#item-4-top h6:nth-child(3),#item-4-top h6:nth-child(4){
    opacity: .8;
}

#item-4-bottom img{
    width: 80px;
    height: 80px;
}

#item-4-bottom{
    display: flex;
    justify-content: flex-end;
}

.white-div-wrapper{
    background-color: #ebebeb;
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-theme div{
    border-radius: 5px;
}

.owl-theme img{
    border-radius: 5px;
}

.owl-theme video{
    border-radius: 5px;
}

#black-div{
    /* background-color: #ffffff; */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#item-2-top h6{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 100;
}

.black-div-wrapper{
    background-color: #000000;
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-5-change{
    height: 80vh;
}

#black-div-item-5{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}

#item-5-top h6{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 100;
}

#item-5-bottom img{
    width: 80px;
    height: 80px;
}

#item-5-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#item-5-top h6:nth-child(3),#item-5-top h6:nth-child(4){
    opacity: .6;
}

#item-6-a{
    display:flex;
    justify-content: center;
}

#item-6-a a{
    color: #000000;
}

#white-div-last{
    /* background-color: #e28686; */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#last-h6 h6{
    font-size: 1.3rem;
    font-weight: 100;
}

#single-video{
    position: relative;
}

#single-video video{
    width: 100%;
    height: 100%;
}


#cover-video{
    position: absolute;
    width: 80%;
    height: 85%;
    top: 10%;
    left: 10%;
    /* background-color: #000000; */
}

#cover-video h6{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 100;
}

@media (max-width: 991px){
    #item-1-top h6{
        font-size: 1rem !important;
    }

    #item-2-top h6{
        font-size: 1rem;
    }

    .black-div-wrapper{
        height: 40vh !important;
    }

    .white-div-wrapper{
        height: 40vh;
    }

    #item-3-top h6{
        font-size: 1rem;
    }

    #item-4-top h6{
        font-size: 1rem;
    }

    #item-5-top h6{
        font-size: 1rem;
    }

    #cover-video h6{
        font-size: .5rem;
    }

    #page-5{
        height: 60vh !important;
    }
}


@media (max-width: 768px){
    #item-1-top h6{
        font-size: .5rem !important;
    }

    #item-2-top h6{
        font-size: .5rem;
    }

    .black-div-wrapper{
        height: 30vh !important;
    }

    .white-div-wrapper{
        height: 30vh !important;
    }

    #item-3-top h6{
        font-size: .5rem;
    }

    #item-4-top h6{
        font-size: .5rem;
    }

    #item-5-top h6{
        font-size: .5rem;
    }

    #cover-video h6{
        font-size: .5rem;
    }

    #page-5{
        height: 50vh !important;
    }
}


/* s----------------sldier code end here -----------  */


/* ----------- part-6 start here ------------ */

#part-6{
    width: 100%;
    background-color: #fff;
}

#page-6-wrapper{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#part-6-h1{
    padding-left: 3rem;
}

#part-6-h1 h1{
    font-size: 4rem;
    font-weight: 100;
    color: #000;
}

/* ---------------- part-7 start here --------- */

.part-7-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 3rem;
    background-color: #fff;
    
}

.part-7-wrapper{
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0px;
}

.left-part-7 h6{
    color: #000;
    font-size: 1.8vw;
    font-weight: 100;
}

.left-part7-wrapper{
    overflow: hidden;
}

.right-part-7{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 10%;
}

h6 span{
    display: inline-block;
}

.right-part-7 h6,a{
    color: #000;
    font-size: 1.8vw;
    font-weight: 100 !important;
}

.right-part7-h6 h6{
    overflow: hidden;
}

.hide-span{
    overflow: hidden;
}

#extraOne{
    height: 100vh;
    width: 100%;
}


/* ------------ part-8 start -------------  */


#part-8{
    width: 100%;
    background-color: #fff;
}

#part-8-wrapper{
    width: 100%;
    background-color: #fff;
    padding: 5rem 0px;
}

#video-div{
    width: 100%;
    height: 100%;
    padding: 3rem 3vw;
    overflow: hidden;
}

#video-div video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------- footer-part ---------------- */

#main2{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 9;
    overflow: hidden;
}

/* @media (max-width:991px){
    #main2{
        height: 80vh;
    }
} */

#top-last{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    overflow: hidden;
    text-overflow: hidden;
    z-index: 1;
}


#bottom-last{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}

#top-last{
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-last{
    display: flex;
    align-items: center;
    justify-content: center;
}


#top-last svg{
    width: 70%;
    color: rgb(0, 0, 0);
    mix-blend-mode: difference;
    cursor: pointer;
    position: relative;
    top: 50%;
}

#bottom-last svg{
    width: 70%;
    color: rgb(0, 0, 0);
    mix-blend-mode: difference;
    cursor: pointer;
    position: relative;
    top: -50%;
}

/* ------- footer center one ------------ */

#center-last{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 2rem;
    color: #fff;
    padding: 4rem 3rem;
}

#center-last-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#center-left{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#left-corner-top h1{
    font-size: 2.5rem;
    font-weight: 100;
    color: #fff;
}

#left-bottom-corner label{
    /* font-size: 2rem; */
    font-weight: 100;
    color: #fff;
}

#left-bottom-corner input{
    /* font-size: 1.5rem; */
    font-weight: 100;
    color: #fff;
    width: 100%;
    height: 70%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
}

#center-right{
    display: flex;
    justify-content: space-between;
    gap: 7vw;
}

#center-right-left{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#center-right-left ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: #fff;
}

#center-right-left ul li{
    list-style-type: none;
    color: #fff;
}

#center-right-right{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
}

#footer-a{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: white;
}

#center-right-right a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 100;
}

#left-bottom-corner input{
    display: flex;
    justify-content: space-between;
}

#footer-left-botom-h6 h6{
    font-weight: 100;
    color: #fff;
    font-size: 1.2rem;
}

#footer-right-h6 h6{
    font-weight: 100;
    color: #fff;
    font-size: 1.2rem;
}

/* --------------- center last bottom -------------- */


#center-last-bottom{
    width: 100%;
}

#center-last-bottom-wrapper{
    width: 100%;
    height: 100%;
}

#last-div-of-svg svg{
    color: #fff;
    width: 90%;
}

#last-div-of-svg{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}






